# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# Mac OS
.DS_Store

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Build directories
dist/
build/
out/

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/

# Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Allure results (if you are using Allure)
allure-results/
allure-report/
